In [1]:
import tushare as ts 
import pandas as pd

print(ts.__version__)

0.7.4

In [2]:
stock_index = '000002'
csv_name = 'stock-{}'.format(stock_index)
start_date = '2016-01-01'
end_date = None

In [3]:
df = ts.get_h_data(stock_index, start=start_date, autype=None)
df.head()

[Getting data:]#####

             open   high  close    low      volume        amount
date
2017-04-14  20.92  20.92  20.64  20.60  21850597.0  4.520071e+08
2017-04-13  21.00  21.15  20.94  20.72  26910139.0  5.628396e+08
2017-04-12  20.70  21.57  21.02  20.70  64585536.0  1.363421e+09
2017-04-11  20.60  20.70  20.70  20.20  45886018.0  9.382043e+08
2017-04-10  20.72  20.75  20.60  20.51  27459940.0  5.659634e+08

In [4]:
df = df.reset_index(drop=True)
df.head()

    open   high  close    low      volume        amount
0  20.92  20.92  20.64  20.60  21850597.0  4.520071e+08
1  21.00  21.15  20.94  20.72  26910139.0  5.628396e+08
2  20.70  21.57  21.02  20.70  64585536.0  1.363421e+09
3  20.60  20.70  20.70  20.20  45886018.0  9.382043e+08
4  20.72  20.75  20.60  20.51  27459940.0  5.659634e+08

In [5]:
col_list = df.columns.tolist()
col_list

['open', 'high', 'close', 'low', 'volume', 'amount']

In [6]:
col_list.remove('close')
col_list.remove('amount')
col_list.append('close')
col_list

['open', 'high', 'low', 'volume', 'close']

In [7]:
df = df[col_list]
df.head()

    open   high    low      volume  close
0  20.92  20.92  20.60  21850597.0  20.64
1  21.00  21.15  20.72  26910139.0  20.94
2  20.70  21.57  20.70  64585536.0  21.02
3  20.60  20.70  20.20  45886018.0  20.70
4  20.72  20.75  20.51  27459940.0  20.60

In [8]:
df['volume'] = df['volume'] / 1000000
df.head()

    open   high    low     volume  close
0  20.92  20.92  20.60  21.850597  20.64
1  21.00  21.15  20.72  26.910139  20.94
2  20.70  21.57  20.70  64.585536  21.02
3  20.60  20.70  20.20  45.886018  20.70
4  20.72  20.75  20.51  27.459940  20.60

In [9]:
df.to_csv(csv_name, index=False)

In [10]:
validate_df = pd.read_csv(csv_name)
validate_df.head()

    open   high    low     volume  close
0  20.92  20.92  20.60  21.850597  20.64
1  21.00  21.15  20.72  26.910139  20.94
2  20.70  21.57  20.70  64.585536  21.02
3  20.60  20.70  20.20  45.886018  20.70
4  20.72  20.75  20.51  27.459940  20.60